[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dss-python = "*"
pypiwin32 = "*"
matplotlib = "*"
numpy = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
